header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-primary);
    

.navbar {
    display: flex;
    padding-left: 262px; 
    font-size: 16px;
}
}

.imagebar {
    display: flex; 
}

header p {margin-left: 20px;color: var(--color-font-primary);}

header img { 
   padding-right: 282px;
}

.menu-active {
    font-weight: 700;
}

.menu-unactive{
    font-weight: 400;
}

